<section class="lame lame-expertises">
  <div class="lame-expertises__section">
    {% for item in items %}
      {% if item.header %}
        <ul class="lame-expertises__section__social">
          <li class="lame-expertises__section__social__ic collap"><i class="icon-icon-{{ item.leftPosition }}"></i></li>
          {% for item in item.icon %}
            <li class="lame-expertises__section__social__ic"><i class="icon-icon-{{ item.icon }}"></i></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </div>
</section>