<section class="lame lame-contact" id="3">
  <div class="lame-contact__section">
    <div class="row">
      {% for item in items %}
        <div class="col-lg-{{ item.col }} col-md-12 col-xs-12" id="{{item.id}}">
          {% if item.form %}
            <div class="lame-contact__section__form">
              <i class="icon-icon-menu collap"></i>
              <h2 class="form__title">Contactez-nous</h2>
              <p class="form__adress">Adresse du cabinet : 42, avenue du Maréchal Foch, SENLIS (60300).</p>
              <form class="form__inputs">
                {% for input in item.inputElements %}
                  {% include "../elements/input.twig" with {
                    id: input.id,
                    labelText: input.labelText,
                    type: input.type,
                  } %}
                {% endfor %}
                <label for="msg" class="float-label">Message</label>
                <textarea name="" id="msg" cols="30" rows="5" class="form__inputs__textarea floating-label-field"></textarea>
                <button class="form__submit" type="submit">Envoyer</button>
              </form>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>