<section class="lame lame-thumb">
  <p>I'm <b>lame-thumb LAME</b> and i'm including <b>TWO block-thumb Fragments</b> inside me</p>
    <div class="row">
      <div class="col-md-6">{% include "../fragments/block-thumb.twig" %}</div>
      <div class="col-md-6">{% include "../fragments/block-thumb.twig" %}</div>
    </div>
</section>