<section class="lame lame-presentation section">
  <div>
    <div class="container">
      <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse autem illum delectus, blanditiis suscipit mollitia! Error ullam recusandae cupiditate culpa, rem adipisci voluptates officiis et amet ea itaque ipsa reiciendis.</p>
      <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse autem illum delectus, blanditiis suscipit mollitia! Error ullam recusandae cupiditate culpa, rem adipisci voluptates officiis et amet ea itaque ipsa reiciendis.</p>
      <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse autem illum delectus, blanditiis suscipit mollitia! Error ullam recusandae cupiditate culpa, rem adipisci voluptates officiis et amet ea itaque ipsa reiciendis.</p>
      <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse autem illum delectus, blanditiis suscipit mollitia! Error ullam recusandae cupiditate culpa, rem adipisci voluptates officiis et amet ea itaque ipsa reiciendis.</p>
    </div>
  </div>
</section>