<section class="lame lame-presentation section">
  <div class="lame-presentation__section">
    {% for item in items %}
      {% if item.header %}
        <ul class="lame-presentation__section__social">
          <li class="lame-presentation__section__social__ic collap"><i class="icon-icon-{{ item.leftPosition }}"></i></li>
          {% for item in item.icon %}
            <li class="lame-presentation__section__social__ic"><i class="icon-icon-{{ item.icon }}"></i></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if item.hasSubtitle %}
        <h2 class="lame-presentation__section__subTitle animated zoomIn">Présentation</h2>
      {% endif %}
      {% if item.hasTitle %}
          <h1 class="lame-presentation__section__title animated zoomIn">A propos de maître Sabrina</h1>
      {% endif %}
      {% if item.hasDescription %}
        <div class="lame-presentation__section__details animated zoomIn">
          <p>
            Avocat à Creil, Maître Sabrina BOUGOUFA intervient tant en matière de conseil que de contentieux, principalement en Droit pénal et Droit de la famille, des personnes et de leur patrimoine (divorce amiable sans juge, divorce contentieux: faute, altération définitive du lien conjugal, divorce accepté, séparation entre concubins, droit parentaux des enfants mineurs, droit de visite et d'hébergement, pension alimentaire, procédure en annulation de mariage, procédure en contestation de paternité...)
          </p>
          <p>
            Maître BOUGOUFA apporte à ses clients la compétence et la réactivité indispensables à leur information et à la défense de leurs intérêts, tant en conseil que lors d'une procédure judiciaire.
          </p>
          <p>
            En confiant un dossier à Maître BOUGOUFA, vous bénéficiez d'une confidentialité totale dans le traitement de votre dossier et des garanties qu'offre la profession d'avocat en matière d'expertise et de sécurité.
          </p>
        </div>
      {% endif %}
      {% if item.hasSign %}
        <p class="lame-presentation__section__signature animated zoomIn">Bougoufa</p>
      {% endif %}
    {% endfor %}
  </div>
</section>