.lame-home	{
    flex-direction: column;
    background-image: url("../../assets/imgs/backgrounds/slide01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (max-width: 415px) {
        overflow-y: auto;
    }
    &:before {
        content: "";
        position: absolute;
        opacity: 0.86;
        background-color: map-get($colors, backgroundOverlayBlack);
        height: 100%;
        width: 100%;
        pointer-events: none;
        @media (max-width: 415px) {
            height: 150vh;
        }
    }
    &__section{
        width: 100%;
        height: 100%;
        position: relative;
        @media #{$phone} {
            padding-bottom: 100px;
            margin-top: 20px;
            padding-top: 30px;
        }
        &__social{
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            padding: 34px 80px 0 0;
            @media #{$tablet_large} {
                padding: 34px 100px 0 0;
            }
            @media #{$phone} {
                // padding: 34px 5px 0 0;
                display: none;
            }
            &__ic{
                &, a{
                    margin-right: 10px;
                    font-size: 27px;
                    color: map-get($colors, primary);
                }

                &.collap{
                    display: none;
                    cursor: pointer;
                    @media #{$tablet} {
                        position: relative;
                        left: 0;
                        margin-right: 70%;
                    }
                    @media #{$phone} {
                        margin-right: 50%;
                    }
                }
            }
        }
        &__subTitle{
            display: flex;
            padding: 0 250px;
            font-family: 'Casablanca Noir Personal Use';
            font-size: 48px;
            letter-spacing: 2.98px;
            line-height: 58px;
            color: map-get($colors, white);
            font-weight: 100;
            @media #{$tablet_large} {
                padding: 0 100px;
            }
            @media #{$phone} {
                padding: 0 30px;
            }
        }
        &__title{
            height: 226.08px;
            width: 732.93px;
            padding: 0 214.7px;
            margin-top: 34.25px;
            margin-bottom: 34.25px;
            color: map-get($colors, primary);
            font-family: 'AvenirNextLTProRegular';
            @media #{$minHeightDescktop} {
                font-size: 60px;
                margin: 0;
            }
            @media #{$minHeightScreens} {
                width: 100%;
                height: auto;
                margin-bottom: 50px;
            }
            @media #{$tablet_large} {
                padding: 0 100px;
            }
            @media #{$phone} {
                padding: 0 15px;
                font-size: 30px;
                height: auto;
                width: 100%;
                margin: 0;
            }
        }
        &__details{
            padding: 40px 0 0 208px;
            @media #{$minHeightDescktop} {
                padding: 0 8%;
            }
            @media #{$minHeightScreens} {
                margin-left: 100px;
            }
            @media #{$tablet_large} {
                padding: 40px 0 0 10px;
            }
            @media #{$phone} {
                padding: 0 10px;
                margin: 0;
            }
            &__img{
                height: 187px;
                width: 190px;
                border: 1px solid map-get($colors, primary);
                @media #{$phone} {
                    height: 150px;
                    width: 150px;
                }
                &, img{
                    border-radius: 100%;
                }
                img{
                    height: 100%;
                }
            }
            .row{
                .col-md-3:first-child{
                    display: flex;
                    &:after{
                        content: '';
                        @extend .animated;
                        border: .5px solid #f8094b;
                        height: 258px;
                        position: absolute;
                        bottom: -20px;
                        left: 285px;
                        @media #{$tablet} {
                            display: none;
                        }
                    }
                }
                .col-md-2{
                    &:last-child{
                        @media #{$tablet} {
                            display: none;
                        }
                    }
                }
            }
            &__description{
                padding-left: 51px;
                @media #{$tablet_large} {
                    padding-left: 65px;
                }
                @media #{$phone} {
                    padding-left: 0;
                }
                p, a{
                    color: map-get($colors, white);
                }
                a{
                    line-height: 27px;
                    font-size: 20px;
                    @media #{$tablet} {
                        font-size: 15px;
                    }
                }
                p{
                    font-size: 18px;
                    line-height: 25px;
                    @media #{$tablet} {
                        font-size: 15px;
                    }
                }
                .description{
                    &__button{
                        margin-top: 32px;
                        @media #{$tablet_large} {
                            width: 50vw;
                        }
                        @media #{$phone} {
                            display: flex;
                            flex-direction: column;
                            width: 60vw;
                            text-align: center;
                            margin-top: 5px;
                        }
                        a{
                            padding: 11px 29px;
                            border: 1px solid;
                            transition: .5s ease;
                            &:first-child{
                                margin-right: 15px;
                                @media #{$phone} {
                                    margin: 5px 0;
                                }
                            }
                            &:hover{
                                transition: .5s ease;
                                background-color: map-get($colors, primary);
                                border: 1px solid map-get($colors, primary);
                            }
                        }
                    }
                }
            }
            &__more{
                p{
                    color: map-get($colors, primary);
                    font-size: 16px;
                    line-height: 22px;
                }
                i{
                    color: map-get($colors, primary);
                    font-size: 26px;
                    position: absolute;
                    left: 40px;
                }
            }
        }
        &__icon{ 
            padding: 102px 674px;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media #{$minHeightDescktop} {
                padding: 70px 674px;
            }
            @media #{minHeightScreens} {
                padding: 30px 0;
            }
            @media #{$tablet_large} {
                padding: 100px;
            }
            @media #{$phone} {
                padding: 20px 100px;
            }
            i{
                color: map-get($colors, white);
                font-size: 30px;
                transition: transform .9s ease-in-out;
                &:first-child{
                    font-size: 41px;
                }
                &.mouseMouve{
                    transition: transform .9s ease-in-out;
                    transform: translateY(10px);
                }
            }
        }
    }
}