{% extends "../layout/skeleton.twig" %}
{% block title %}
Avocat
{% endblock %}
{% block main %}
  <div id="main" class="scroll-container">
    {% include "../lames/lame-home.twig" with 
    {
      items: [
        {
          header: true,
          leftPosition: "menu",
          icon: [
            {
              icon: "twitter"
            },
            {
              icon: "facebook"
            },
            {
              icon: "linkedin"
            }
          ]
        },
        {
          hasSubtitle: true
        },
        {
          hasTitle: true
        },
        {
          hasChild: true,
          child: [
            {
              classDiv: "col-md-3 col-xs-12",
              hasImg: true
            },
            {
              classDiv: "col-md-6 col-xs-12",
              hasDescription: true
            },
            {
              classDiv: "col-md-2 col-xs-12",
              hasIcon: true
            },
          ]
        },
        {
          hasJustIcon: true,
          icon: [
            {
              ic: "mouse",
            },
            {
              ic: "down-arrow",
              id: "mouseMouve"
            }
          ]
        },
      ]
    } 
    %}
    {% include "../lames/lame-presentation.twig" with {
      items: [
        {
          header: true,
          leftPosition: "menu",
          icon: [
            {
              icon: "twitter"
            },
            {
              icon: "facebook"
            },
            {
              icon: "linkedin"
            }
          ]
        },
        {
          hasSubtitle: true
        },
        {
          hasTitle: true
        },
        {
          hasDescription: true
        },
        {
          hasSign: true
        }
      ]
    } %}
    {% include "../lames/lame-expertises.twig" with {
      items: [
        {
          header: true,
          leftPosition: "menu",
          icon: [
            {
              icon: "twitter"
            },
            {
              icon: "facebook"
            },
            {
              icon: "linkedin"
            }
          ]
        },
        {
          hasSubtitle: true
        },
        {
          hasColumn: true,
          columns: [
            {
              icon: "family",
              contentH2: "Droit de la famille, des personnes et de leur patrimoine",
              item: [
                {
                  content: "Procédures en responsabilité civile : indemnisation pour faute, dommages-intérêts"
                },
                {
                  content: "Droit du patrimoine, transmission, régime matrimonial, SCI"
                },
                {
                  content: "Successions, donations, héritages, tutelles, curatelles"
                },
                {
                  content: "Droit des successions et des donations : héritages, testament, donations, legs"
                },
                {
                  content: "Pension alimentaire, prestation compensatoire : calcul, revalorisation"
                },
                {
                  content: "Conseil et assistance lors de procédures de divorce et séparation"
                },
                {
                  content: "Divorces pour faute, divorces amiables par consentement mutuel …"
                },
                {
                  content: "Etat civil : mariage, pacs, procédures en changement de nom et prénom"
                },
                {
                  content: "Droit des mineurs, contestation et reconnaissance de paternité, filiation, autorité parentale"
                },
              ]
            },
            {
              icon: "hand",
              contentH2: "Droit du crédit et de la consommation",
              item: [
                {
                  content: "Droit pénal des affaires : fraude fiscale, abs, prises illégales d’intérêts"
                },
                {
                  content: "Droit pénal général : défense des auteurs et victimes d'infractions pénales"
                },
                {
                  content: "Assistance pour des délits (vols, usage de stupéfiants, abus de faiblesse, faux…) et crimes"
                },
                {
                  content: "Défense devant les tribunaux (police, correctionnel, assises, juridictions spécialisées…)"
                },
                {
                  content: "Assistance garde à vue, assistance devant le Juge d’instruction"
                },
                {
                  content: "Contraventions : infractions au code de la route, menaces, violences légères…"
                },
                {
                  content: "Actions en diffamation, Droit de la Presse et interdictions de diffusion"
                },
              ]
            },
            {
              icon: "give-card",
              contentH2: "Droit pénal",
              item: [
                {
                  content: "Litiges relatifs à un prêt à taux variable ou à un taux effectif global (TEG)"
                },
                {
                  content: "Demande de suspension de paiement d'un prêt"
                },
                {
                  content: "Litiges prêts personnels, prêts immobiliers, crédit revolving, solde débiteur…"
                },
                {
                  content: "Recours contre une saisie sur un compte bancaire"
                },
                {
                  content: "Défense des cautions"
                },
                {
                  content: "Contentieux en matière de carte bancaire"
                },
                {
                  content: "Conseil et défense des emprunteurs en matière de crédits à la consommation"
                },
              ]
            }
          ]
        }
      ]
    } %}
    {% include "../lames/lame-contact.twig" with {
      items: [
        {
          col: "7",
          form: true,
          inputElements: [
            {
              id: "name",
              labelText: "Votre nom",
              type: "text"
            },
            {
              id: "lastname",
              labelText: "Votre prénom",
              type: "text"
            },
            {
              id: "mail",
              labelText: "Adresse mail",
              type: "email"
            },
            {
              id: "sujet",
              labelText: "Sujet",
              type: "text"
            }
          ]
        },
        {
          col: "5",
          id: "map"
        }
      ]
    } %}
  </div>
{% endblock %}