{% extends "../layout/skeleton.twig" %}
{% block title %}
Avocat
{% endblock %}
{% block main %}
  <div id="main" class="scroll-container">
    {% include "../lames/lame-home.twig" with 
    {
      items: [
        {
          header: true,
          leftPosition: "menu",
          icon: [
            {
              icon: "twitter"
            },
            {
              icon: "facebook"
            },
            {
              icon: "linkedin"
            }
          ]
        },
        {
          hasSubtitle: true
        },
        {
          hasTitle: true
        },
        {
          hasChild: true,
          child: [
            {
              classDiv: "col-md-3 col-xs-12",
              hasImg: true
            },
            {
              classDiv: "col-md-6 col-xs-12",
              hasDescription: true
            },
            {
              classDiv: "col-md-2 col-xs-12",
              hasIcon: true
            },
          ]
        },
        {
          hasJustIcon: true,
          icon: [
            {
              ic: "mouse",
            },
            {
              ic: "down-arrow",
              id: "mouseMouve"
            }
          ]
        },
      ]
    } 
    %}
    {% include "../lames/lame-presentation.twig" with {
      items: [
        {
          header: true,
          leftPosition: "menu",
          icon: [
            {
              icon: "twitter"
            },
            {
              icon: "facebook"
            },
            {
              icon: "linkedin"
            }
          ]
        },
        {
          hasSubtitle: true
        },
        {
          hasTitle: true
        },
        {
          hasDescription: true
        },
        {
          hasSign: true
        }
      ]
    } %}
    {% include "../lames/lame-expertises.twig" %}
    {% include "../lames/lame-contact.twig" %}
  </div>
{% endblock %}