{% extends "../layout/skeleton.twig" %}
{% block title %}
Accueil
{% endblock %}
{% block main %}
  <p>I'm the <b>index PAGE</b> and i'm including <b>lame-thumb LAME</b> inside me</p>
  {%  include "../lames/lame-thumb.twig" %}
{% endblock %}