{% extends "../layout/skeleton.twig" %}
{% block title %}
  Hello World
{% endblock %}
{% block main %}
  <div class="test">
    <p>Hey i'm a <b>PAGE</b> and i'm including a <b>LAME</b></p>
    {% include "../lames/lame-test.twig" %}
  </div>
{% endblock %}