<footer class="footer">
    <div class="footer__el active">
        <i class="footer__el__ic icon-icon-clock"></i>
        <h2 class="footer__el__title"><p>Besoin d'aide</p><span>?</span></h2>
    </div>
    <div class="footer__el">

    </div>
</footer>