<footer class="footer">
    <div class="footer__el toggle active">
        <i class="footer__el__ic icon-icon-clock"></i>
        <h2 class="footer__el__title"><p>Besoin d'aide</p><span>?</span></h2>
    </div>
    <div class="footer__el">
        <div class="footer__el__item toggle">
            <i class="footer__el__ic icon-icon-close"></i>
        </div>
        <div class="footer__el__item">
            <i class="footer__el__ic icon-icon-rdv"></i>
            <h2 class="footer__el__title"><p>Prendre RDV</p></h2>
        </div>
        <div class="footer__el__item">
            <i class="footer__el__ic icon-icon-phone"></i>
            <h2 class="footer__el__title"><p>Demander un rappel</p></h2>
        </div>
        <div class="footer__el__item">
            <i class="footer__el__ic icon-icon-mail"></i>
            <h2 class="footer__el__title"><p>Consulter par écrit</p></h2>
        </div>
    </div>
</footer>