<header class="sidebar">
  <nav class="sidebar__nav">
    <ul class="sidebar__nav__ul">
      <li class="nav-item logo">
        <a href="/" class="logo__link">
          <h1 class="logo__link__title"><span class="logoLetter">S</span><span class="logoLetter">B</span></h1>
          <p class="logo__link__subTitle">Avocat</p>
        </a>
      </li>
      <li class="nav-item"><a class="nav-item__link collap"><i class="nav-item__link__ic icon-icon-menu"></i></a></li>
      <li class="nav-item"><a href="#0" class="nav-item__link active"><i class="nav-item__link__ic icon-icon-home"></i><p class="nav-item__link__title">Accueil</p></a></li>
      <li class="nav-item"><a href="#1" class="nav-item__link"><i class="nav-item__link__ic icon-icon-presentation"></i><p class="nav-item__link__title">Presentation</p></a></li>
      <li class="nav-item"><a href="#2" class="nav-item__link"><i class="nav-item__link__ic icon-icon-expert"></i><p class="nav-item__link__title">Expertises</p></a></li>
      <li class="nav-item"><a href="#3" class="nav-item__link"><i class="nav-item__link__ic icon-icon-contact"></i><p class="nav-item__link__title">Contact</p></a></li>
    </ul>
  </nav>
</header>