// Input fill
.floating-label-field{
  border-width: 0;
  border-bottom: 3px solid #979797;
  background-color: transparent;
  margin-bottom: 36px;
  &:focus {
    outline: 0;
    box-shadow: 0;
  }
  &::placeholder {
    color: transparent;
  }
  &,+.floating-label {
    position: relative;
    transition: transform 0.25s, opacity 0.25s ease-in-out;
    transform-origin: 0 0;
    opacity: 0.7;
    color: #C6C6C6;
    font-family: "AvenirNextLTProRegular";
    font-weight: 200;
    font-size: 18px;
    width: 374px;

    @media (max-width: $phone) {
        width: 100%;
    }
  }
  &:focus,
    &:not(:placeholder-shown) {
        border-color: rgba(#979797, 0.8);
        &+.floating-label {
            transform: translate(1%, -300%) scale(0.8);
            // opacity: .25;
        }
    }
    &:valid {
      &:not(:placeholder-shown) {
          border-color: rgba(#2ed573, 0.3);
      }
    }
    &:invalid {
        border-color: rgba(#ff4757, 0.3);
    }
}

label.floating-label {
  transform: translateY(-275%);
}

.float-label {
  position: relative;
  transition: transform 0.25s, opacity 0.25s ease-in-out;
  opacity: 0.7;
  color: #C6C6C6 !important;
  font-family: "AvenirNextLTProRegular";
  font-weight: 200 !important;
  font-size: 18px !important;
  width: 374px;
}