.footer {
    position: absolute;
    left: 0;
    bottom: 50px;
    background: linear-gradient(180deg, map-get($colors, gradient1) 0%, map-get($colors, gradient2) 100%);
    height: 54px;
    width: 206px;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
    transition: width .3s ease-in-out;
    &.stretch{
        width: 684px;
    }
    &__el{
        display: none;
        justify-content: center;
        align-items: center;
        transition: opacity 3s ease-in-out;
        opacity: 0;
        &.active{
            display: flex;
            width: 95%;
            transition: opacity 10s ease-in-out;
            opacity: 1;
        }
        &__ic{
            font-size: 30px;
            color: map-get($colors, white);
            margin-right: 10px;
        }
        &__title{
            height: 32px;
            width: 61px;
            font-weight: 500;
            line-height: 16px;
            display: flex;
            align-items: flex-end;
            padding: 0;
            margin-right: 40px;
            p, span{
                color: map-get($colors, white);
            }
            p{
                font-size: 18px;
            }
            span {
                font-size: 24px;
                margin-bottom: 3px;
                margin-left: 5px;
            }
        }
        &__item{
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;

            &:first-child{
                &:after{
                    content: "";
                    border: .5px solid #fff;
                    height: 37px;
                    margin-left: 50px;
                }
            }
        }
    }
}