.sidebar{
  height: 100vh;
  position: fixed;
  width: 130px;
  transition: width .3s ease-in-out;
  z-index: 10;
  @media #{$phone} {
    transition: transform .3s ease-in-out;
    z-index: 11;
    &:after{
      content: "";
      position: absolute;
      width: 100vw;
      height: 100%;
      top: 0;
      left: 130px;
      z-index: 1;
      background: rgba(0, 0, 0, .5);
    }
  }
  &.active{
    width: 93px;
    @media #{$phone} {
      width: 130px;
      transform: translateX(-100%);
      &:after{
        display: none;
      }
    }
  }
  &__nav{
    height: 100%;
    background: map-get($colors, white);
    overflow-y: auto;
    &__ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 150px;

      .nav-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 18px;
        width: 100%;
        height: 95px;
        justify-content: center;
        &:first-child, &:nth-child(2){
          &:before{
            content: '';
            border: none;
            display: none;
          }
        }
        &:before {
          content: '';
          border: .5px solid map-get($colors, secondary);
          width: 39px;
          margin-top: -48px;
          position: absolute;
          top: auto;
        }
        .active {
          color: map-get($colors, primary);
          p{
            color: map-get($colors, primary);
          }
        }
        &__link{
          display: flex;
          flex-direction: column;
          align-items: center;
          color: map-get($colors, secondary);
          &.collap{
            cursor: pointer;
          }

          &__ic{
            font-size: $global-font-nav-icon;
            margin-bottom: 4px;
            transition: font-size .3s ease-in-out;
            &.collapsed{
              transition: font-size .3s ease-in-out;
              font-size: 38px;
              @media #{$phone} {
                font-size: $global-font-nav-icon;
              }
            }
          }
          &__title{
            font-size: 14px;
            transform: translate(0);
            transition: opacity .3s ease-in-out, translate .3s ease-in-out;

            &.collapsed{
              transition: display .3s ease-in-out, translate .3s ease-in-out;
              animation: hide .3s ease-in-out;
              transform: translateY(15px);
              opacity: 0;
              margin-top: 25px;
              position: absolute;
              pointer-events: none;
              @media #{$phone} {
                animation: none;
                position: unset;
                pointer-events: unset;
                opacity: 1;
                transform: translateY(0);
                margin-top: 0;
              }
            }
          }
        }
      }
      .logo{
        background: linear-gradient(180deg, #FB1173 0%, #F6073F 100%);
        margin-bottom: 18px;
        height: 106px;
        display: flex;
        justify-content: end;
        &__link{
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
          &__title{
            display: flex;
            transform: translateX(-4px);
            .logoLetter{
              color: map-get($colors, white);
              font-size: $global-font-logo-size;
              font-family: $global-font-vague;

              &:nth-child(1){
                transform: translateX(15px);
              }
              &:nth-child(2){
                transform: translateY(15px);
              }
            }
          }
          &__subTitle{
            color: map-get($colors, white);
            margin: 0;
            font-family: $global-hei-font;
          }
        }
        &:after{
          border: none;
          margin: 0;
        }
      }
    }
  }
}

.mainActive{
  margin-left: 5.5rem;
  @media #{$phone} {
    margin-left: 0;
  }
}

.header  {
display: none;
  @media (max-width: 768px) {
    display: flex;
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 9px;
    background: #0000004d;

    &__social{
      display: flex;
      list-style: none;
      padding: 0;
      width: 100%;
      justify-content: center;

      &__ic{
        &, a{
            margin-right: 16px;
            font-size: 27px;
            color: map-get($colors, primary);
            &:first-child{
              margin-right: 35%;
              cursor: pointer;
            }
          }
        }
      }
    }
}

@keyframes hide{
  0%{
    transform: translateY(0);
    opacity: 1;
  }
  50%{
    transform: translateY(15px);
    opacity: .2;
  }
  100%{
    transform: translateY(15px);
    opacity:0;
  }
}