<div class="block block-thumb">
  I'm <b>block-thumb</b> and i'm including <b>button</b> inside me
  {% include "../elements/button.twig" with {
    tag:'button',
    value: 'Rejoignez-nous maintenant',
    shape: 'normal',
  } %}
</div>