<div class="block block-thumb">
  <p>I'm <b>block-thumb Fragment</b> and i'm including a <b>button Element</b> inside me</p>
  {% include "../elements/button.twig" with {
    tag:'button',
    value: 'i\'m a <b>button Element</b>',
    shape: 'normal',
  } %}
</div>