// Fonts definitions
/*Example @font-face {
  font-family: 'customfont';
  src:  url('../fonts/customfont/customfont.eot?yk0faz');
  src:  url('../fonts/customfont/customfont.eot?yk0faz#iefix') format('embedded-opentype'),
  url('../fonts/customfont/customfont.ttf?yk0faz') format('truetype'),
  url('../fonts/customfont/customfont.woff?yk0faz') format('woff'),
  url('../fonts/customfont/customfont.svg?yk0faz#customfont') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
@import url(//fonts.googleapis.com/css?family=Great+Vibes&display=swap);
@font-face {
    font-family: 'AvenirNextLTProRegular';
    src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('../fonts/embedded-opentype'),  url('../fonts/AvenirNextLTPro-Regular.otf')  format('opentype'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('../fonts/AvenirNextLTPro-Regular.ttf')  format('truetype'), url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic.ttf')  format('truetype'), url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PromotionScript';
    src: url('../fonts/PromotionScript.eot?#iefix') format('embedded-opentype'),  url('../fonts/PromotionScript.woff') format('woff'), url('../fonts/PromotionScript.ttf')  format('truetype'), url('../fonts/PromotionScript.svg#PromotionScript') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'PWSignaturetwo';
  src: url('../fonts/PWSignaturetwo.eot?#iefix') format('embedded-opentype'),  url('../fonts/PWSignaturetwo.woff') format('woff'), url('../fonts/PWSignaturetwo.ttf')  format('truetype'), url('../fonts/PWSignaturetwo.svg#PWSignaturetwo') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/nouvelle_vague_final.woff') format('woff');
}